@import "typography/nunito";

html,
body
{
    color: map-get($colors, 'text');
    font: map-get($weights, 'regular') 16px Nunito;
}

$scales-hs :
(
    "h1" : 3.052em,
    "h2" : 2.441em,
    "h3" : 1.953em,
    "h4" : 1.563em,
    "h5" : 1.25em,
    "h6" : 1em,
);

@each $name-sacle, $scale in $scales-hs
{
    #{$name-sacle}, .uk-#{$name-sacle}
    {
        font: map-get($weights, 'bold') $scale 'Nunito', sans-serif !important;
    }
}

@each $weight-name, $weight in $weights
{
	.fw-#{$weight-name}, .fw-#{$weight} { font-weight: $weight; }
}

@each $size-name, $size in $sizes
{
	.fs-#{$size-name} { font-size: $size; }
}
